<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="lv.viewport" content="width=device-width, initial-scale=1">
    <title>Account Manage - Leave Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="${ctxPath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="${ctxPath}/css/dashboard.css" rel="stylesheet">
</head>
<body>
	
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<%include('/menu/manager.html', {'title': '账号管理'}){};%>
			</div>
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="row">
					<h1 class="col-sm-6">员工列表</h1>
					<div class="col-sm-4 col-condition">
						<form class="form-inline">
							<div class="form-group">
							    <input type="text" class="form-control" id="search-name" name="name" value="${name!}" placeholder="根据名称查找">
							</div>
							<button type="submit" class="btn btn-primary">检索</button>
							<a href="employee" class="btn btn-info">清空</a>
						</form>
					</div>
				</div>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>工号</th>
							<th>姓名</th>
							<th>部门</th>
							<th>职位</th>
							<th><a href="${ctxPath!}/employee/add">添加</a></th>
						</tr>
					</thead>
					<tbody>
						<%for (e in emplL!) {%>
							<tr>
								<td>${e.employ_no}</td>
								<td>${e.name!}</td>
								<td>${e.dept!}</td>
								<td>${e.desig!}</td>
								<td>
									<a href="${ctxPath!}/employee/edit/${e.id!}">编辑</a> | 
									<a href="javascript:;" class="remove-act" data-id="${e.id!}" data-name="${e.name!}">删除</a>
								</td>
							</tr>
						<%} elsefor {%>
							<tr>
								<td class="text-danger text-center" colspan="4">啊哦，系统没添加员工</td>
							</tr>
						<%}%>
					</tbody>
				</table>
				<%
					include("/common/pagination.html", {
						currentPage: emplPage.pageNumber,
						totalPage: emplPage.totalPage,
						actionUrl: ctxPath + '/' + 'employee'
					}){};
				%>
			</div>
		</div>
	</div>
	
	<script src="${ctxPath}/js/jquery.min.js"></script>
	<script src="${ctxPath}/js/bootstrap.min.js"></script>
	<script src="${ctxPath}/js/tools.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.remove-act').on('click', function(){
				var id = this.getAttribute('data-id'),
					name = this.getAttribute('data-name');
				if (!window.confirm('确定删除 \'' + name + '\' 吗？')) {
					return;
				}
				
				// 执行删除
				$.cjd.open('${ctxPath!}/employee/goneAct', {'id': id});
			});
		});
	</script>
</body>
</html>