<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update - Leave Manager</title>
    <!-- Bootstrap core CSS -->
    <link href="${ctxPath!}/css/bootstrap.min.css" rel="stylesheet">
    <link href="${ctxPath!}/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
		
		<form class="form-signin">
        	<h2 class="form-signin-heading">修改我的个人登录密码</h2>
        	<div class="form-group">
	        	<label for="inputPassword">员工姓名</label>
	        	<input class="form-control" type="text" value="${current.name!}" autocomplete="off" readonly="readonly">
	        </div>
	        <div class="form-group">
	        	<label for="inputPassword">登录密码</label>
	        	<input class="form-control" type="password" id="password1" placeholder="Enter Your Password" autocomplete="off" required>
	        </div>
	        <div class="form-group">
	        	<label for="inputPassword">新的密码</label>
	        	<input class="form-control" type="password" id="password2" placeholder="Enter Your New Password" autocomplete="off" required>
	        </div>
	        <div class="form-group">
	        	<label for="inputPassword">重复新密码</label>
	        	<input class="form-control" type="password" id="password3" placeholder="Repeat Your New Password" autocomplete="off" required>
	        </div>
        	<button class="btn btn-lg btn-primary btn-block" type="button" id="build">修改密码</button>
    	</form>
		
    </div> <!-- /container -->
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="${ctxPath!}/js/html5shiv.min.js"></script>
      <script src="${ctxPath!}/js/respond.min.js"></script>
    <![endif]-->
    <script src="${ctxPath!}/js/jquery.min.js"></script>
	<script src="${ctxPath!}/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#build').on('click', function(){
				var jPswd1 = $('#password1')
					, jPswd2 = $('#password2')
					, jPswd3 = $('#password3');
				
				if (!jPswd1.val()) {
					jPswd1.focus();
					return;
				}
				
				if (!jPswd2.val()) {
					jPswd2.focus();
					return;
				}
				
				if (!jPswd3.val()) {
					jPswd3.focus();
					return;
				}
				
				if (jPswd2.val() != jPswd3.val()) {
					alert('两次输入密码不一致');
					return;
				}
				
				$.post('updateMyPasswordAct', {
					'pswd1': jPswd1.val()
					, 'pswd2': jPswd2.val()
				}, function(data){
					if (data.success) {
						alert('修改成功！');
						window.location.href = '${ctxPath!}/logout';
					} else {
						alert('修改失败，原密码不正确！');
					}
				}, 'json');
			});
		});
	</script>
  </body>
</html>
