.sub-header {
	padding-bottom: 10px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.navbar-fixed-top {
	border: 0px currentColor;
}
.sidebar {
	display: none;
}
.sidebar {
	left: 0px; top: 0px; bottom: 0px; border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; display: block; position: fixed; z-index: 1000; overflow-x: hidden; overflow-y: auto; background-color: rgb(245, 245, 245);
}
.nav-sidebar {
	margin-right: -21px; margin-bottom: 20px; margin-left: -20px;
}
.nav-sidebar > li > a {
	padding-right: 20px; padding-left: 20px;
}
.nav-sidebar > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.nav-sidebar > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.nav-sidebar > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(66, 139, 202);
}
.main {
	padding: 20px;
}
.main {
	padding-right: 40px; padding-left: 40px;
}
.main .page-header {
	margin-top: 0px;
}
.placeholders {
	text-align: center; margin-bottom: 30px;
}
.placeholders h4 {
	margin-bottom: 0px;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	border-radius: 50%; display: inline-block;
}

.col-condition {
	margin-top: 25px;
}